@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-fadein {
  opacity: 0;
  animation: fadein 1s forwards;
}
.animate-fadein-up {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeinUp 0.8s forwards;
}
@keyframes fadein {
  to {
    opacity: 1;
  }
}
@keyframes fadeinUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
